# Secrets
.env
.env.*
data/active_chats.json
*.sqlite3
*.log

# Virtual envs
venv/
env/
testenv/
.venv/


# Python cache
__pycache__/
*.py[cod]
*.so
*.pyc
*.pyo
*.pyd   

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Build
build/
dist/
*.egg-info/

# Data files (optional — if you don't want to commit Excel/CSV)
# *.xlsx
#*.csv
fixtures_data.csv
comined_historical_data.csv
ngrok_recovery_codes.txt
/data/active_chats.json

.ipynb_checkpoints/
*.ipynb





